@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Inter&display=swap');


.cv-btn {
    font-family: Inter;
    border-color: black;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    background: #000000;
    color: #FFFFFF;
    border: none;
}

.cv-btn:hover {
    font-family: Inter;
    background-color: #192A51;
    color: #f5f5f5;
    transition: 0.5s;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.navbar-toggler-part {
    border-radius: 10px;
    background: #000000;
    border: none;
}



.navbar-toggler-part i {
    color: #FFFFFF;
    font-size: 40px;
}

.navbar-toggler-part:hover {
    background-color: #192A51;
    border: none;
    transition: 0.5s;
}


.bgcolor {
    background: #f5f5f5;
}

.hero-header {
    width: 90%;
    height: inherit;
    padding: 5%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    border-color: black;
    justify-content: space-between;
}

.hero-header-text {
    margin-bottom: 5%;
}

.hero-header-text h3 {
    font-family: handjet;
    font-size: 30px;
    text-align: left;
}

.hero-header-text p {
    font-family: Inter;
    font-size: 11px;

}

.hero-header-image-box {
    width: 50%;
    height: inherit;
    border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
    transition: 0.10s ease;
}

.hero-header-image-box img {
    width: 80%;
}

#hero-btn button:hover {
    padding: 2%;
    font-family: Inter;
    color: #FFFFFF;
    background-color: #000000;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
}

#hero-btn button {
    padding: 2%;
    font-family: Inter;
    border-color: black;
    font-size: 12px;
    border-radius: 5px;
}

/* hero header */


.feature-section {
    padding: 5%;
    justify-content: space-between;
    display: flex;
    gap: 5%;
}

.feature-section-image-box {
    width: 50%;
    background: #000;
    height: inherit;
    border-radius: 10px;

}

.feature-section-image-box img {
    width: 80%;
}

.feature-section-text {
    margin-bottom: 5%;
}

.feature-section-text h3 {
    font-family: handjet;
    font-size: 30px;
    text-align: left;
}

.feature-section-text p {
    font-family: Inter;
    font-size: 11px;
    text-align: left;
}

.feature-section-experience {
    display: flex;
}

.feature-expertise i {
    background: #dbd4d4;
    border-radius: 50%;
    padding: 3%;
    font-size: 30px;
}

.feature-innovation i {
    background: #dbd4d4;
    border-radius: 50%;
    padding: 3%;
    font-size: 30px;
}

.feature-innovation p {
    text-align: center;
}

#feature-btn button {
    padding: 2%;
    font-family: Inter;
    border-color: black;
    font-size: 11px;
    border-radius: 5px;
}

#feature-btn button:hover {
    padding: 2%;
    font-family: Inter;
    color: #FFFFFF;
    background-color: #000000;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
}

/*  */

.benefit-section {
    display: flex;
    padding: 5%;
    justify-content: space-between;
    gap: 5%;
}

.benefit-section-image-box {
    width: 50%;
    background: #000;
    height: inherit;
    border-radius: 10px;

}

.benefit-section-offer {
    display: flex;
}

#value {
    color: #192A51;
    font-family: handjet;
    font-size: 30px;
}

#value-second {
    color: #192A51;
    font-family: handjet;
    font-size: 30px;
}

.benefit-section-text {
    margin-bottom: 5%;
}

.benefit-section-text h3 {
    font-family: handjet;
    font-size: 30px;
    text-align: center;
}

.benefit-section-text p {
    font-family: Inter;
    font-size: 11px;
    text-align: center;
}

/*  */


.logo-list-section {
    width: screen;
    height: inherit;
    padding: 2%;
}

.logo-list-section p {
    text-align: center;
    margin-bottom: 5%;
    font-family: Inter;
    font-size: bold 12px;
    font-style: italic;
}

.Logo-Card {
    text-align: center;
    padding: 10px;
    color: #000000;
    border-radius: 5px;
    flex: 0 0 10%;
    object-fit: contain;
    font-family: handjet;
    font: bold;
    font-size: 20px;
}

.swiper-wrapper-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.Cta-section {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}



.Cta-text p {
    font-family: Inter;
    font-size: 12px;
    text-align: center;
}

.Cta-section h3 {
    font-family: handjet;
    font-size: 30px;

}


#Cta-btn button {
    padding: 2%;
    font-family: Inter;
    border-color: black;
    font-size: 11px;
    border-radius: 5px;
}

#Cta-btn button:hover {
    padding: 2%;
    font-family: Inter;
    color: #FFFFFF;
    background-color: #000000;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
}

#Cta-btn label {
    font-family: Inter;
    font-size: 5px;

}

#Cta-btn input {
    padding: 2%;
    margin-bottom: 5%;
    width: 100%;
}

.newsletter-section {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.stay-updated h3 {
    font-family: handjet;
    font-size: 30px;
    text-align: center;
}


.stay-updated p {
    font-family: handjet;
    font-size: 15px;
    text-align: center;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.footer-section ul {
    display: flex;
    width: 100%;
    font-family: Inter;
    font-size: 25px;
    justify-content: center;
    gap: 10%;
}

.footer-section ul a {
    background-color: #000;
    padding: 3%;
    border: none;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
}

.footer-section ul a:hover {
    background-color: #192A51;
    padding: 3%;
    border-radius: 30%;
    border: none;
    transition: 0.2s;
}


.timedate {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

#last-updated {
    font-weight: bold;
    color: #333;
}



/* 580px screen */

@media screen  and (max-width: 580px) {
    .hero-header {
        display: block;
    }

    .feature-section {
        display: block;
    }

    .Cta-section {
        display: block;
    }

    .newsletter-section {
        display: block;
    }

    .footer-section {
        display: block;
    }

    .benefit-section-offer {
        display: block;
    }

    .feature-section-image-box {
        width: 100%;
    }

    .hero-header-image-box {
        width: 100%;
    }

    .benefit-section {
        display: block;
    }

    .benefit-section-image-box {
        width: 100%;
    }

    #feature-btn button {
        padding: 2%;
        font-family: Inter;
        color: #FFFFFF;
        background-color: #000000;
        transition: 0.5s;
        border: none;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 5%;

    }

    #feature-btn button:hover {
        background-color: #192A51;
    }

    #Cta-btn button {
        padding: 2%;
        font-family: Inter;
        color: #FFFFFF;
        background-color: #000000;
        transition: 0.5s;
        border: none;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 5%;

    }

    #Cta-btn input {
        padding: 2%;
        margin-bottom: 5%;
        width: 100%;
        text-align: center;
    }

    #Cta-btn label {
        padding: 2%;
        width: 100%;
        text-align: center;
    }

    #Cta-btn button:hover {
        background-color: #192A51;
    }

    #hero-btn button {
        padding: 2%;
        font-family: Inter;
        color: #FFFFFF;
        background-color: #000000;
        transition: 0.5s;
        border: none;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 5%;
    }

    #hero-btn button:hover {
        background-color: #192A51;
    }

    #value {
        color: #192A51;
        font-family: handjet;
        font-size: 30px;
        text-align: center;
    }
    
    #value-second {
        color: #192A51;
        font-family: handjet;
        font-size: 30px;
        text-align: center;
    }

    .feature-section-experience {
        display: block;
    }

    .feature-expertise {
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    
    .feature-innovation {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

}